target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Application File Storage ###
# Book files and temporary files
books-management/
books-management/files/
books-management/files/temp/
*.pdf
*.epub
*.mobi
*.azw3
*.iba
*.book

# Alternative paths (in case of different configurations)
./books-management/
./books-management/files/
./books-management/files/temp/

# Any file storage directories
**/files/
**/temp/